<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD3ykHHMGMO6gQCzWuNpR8_8L1CCa30N4I</string>
	<key>GCM_SENDER_ID</key>
	<string>896250484080</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.pokemon</string>
	<key>PROJECT_ID</key>
	<string>pokemon-bd44a</string>
	<key>STORAGE_BUCKET</key>
	<string>pokemon-bd44a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:896250484080:ios:26cb7b7bca1351140cabb5</string>
</dict>
</plist>